
<!-- Spinner Start -->
<div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<!-- Spinner End -->


<!-- Navbar Start -->
<div class="container-fluid nav-bar bg-transparent">
    <nav class="navbar navbar-expand-lg bg-white navbar-light py-0 px-4">
        <a href="/" class="navbar-brand d-flex align-items-center text-center">
            <div class="icon p-2 me-2">
                <img class="img-fluid" src="../static/img/icon-deal.png" alt="Icon" style="width: 30px; height: 30px;">
            </div>
            <h1 class="m-0 text-primary">SingaEstate</h1>
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto">
                <a href="/" class="nav-item nav-link">Home</a>
                <!-- <a href="{{ url_for('about') }}" class="nav-item nav-link">About</a> -->
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Property</a>
                    <div class="dropdown-menu rounded-0 m-0">
                        <a href="{{ url_for('propertylist') }}" class="dropdown-item">Property List</a>
                        <a href="{{ url_for('propertyagent') }}" class="dropdown-item">Property Agent</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                    <div class="dropdown-menu rounded-0 m-0">
                        <a href="{{ url_for('analysis') }}" class="dropdown-item active">Analysis</a>
                        <!-- Conditional Link based on User Type -->
                        {% if 'user_type' in session %}
                            {% if session['user_type'] == 'agent' %}
                                <a href="{{ url_for('agent_appointments') }}" class="dropdown-item">Manage Appointments</a>
                            {% elif session['user_type'] == 'normal_user' %}
                                <a href="{{ url_for('appointment') }}" class="dropdown-item">Make Appointment</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <!-- <a href="{{ url_for('contact') }}" class="nav-item nav-link">Contact</a> -->
                <!-- Conditionally display Log In or Sign Out -->
                {% if 'user_id' not in session %}
                    <a href="{{ url_for('login') }}" class="nav-item nav-link">Log In</a>
                    <a href="{{ url_for('register') }}" class="nav-item nav-link">Register</a>
                {% else %}
                    <a href="{{ url_for('logout') }}" class="nav-item nav-link">Sign Out</a>
                {% endif %}
            </div>
            {% if 'user_type' in session %}
                {% if session['user_type'] == 'agent' %}
                    <a href="{{ url_for('add_listing') }}" class="btn btn-primary px-3 d-none d-lg-flex">Add Listing</a>
                {% endif %}
            {% endif %}
        </div>
    </nav>
</div>
<!-- Navbar End -->