{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="container mt-3">
    {% for category, message in messages %}
    <div class="alert alert-{{ 'danger' if category == 'error' else 'success' }}" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

<!DOCTYPE html>
    {% include "includes/head.html" %}
    <title>Flat Listings</title>

    <body>
        <!-- Toast container for success message -->
        <div class="toast" id="successToast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">Success</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body" id="successMessageContainer">
                <!-- Success message will be displayed here -->
            </div>
        </div>
        {% include "includes/navbar.html" %}

        <div class="container-xxl bg-white p-0">
            <!-- Header Start -->
            <div class="container-fluid header bg-white p-0">
                <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
                    <div class="col-md-6 p-5 mt-lg-5">
                        <h1 class="display-5 animated fadeIn mb-4">Find A <span class="text-primary">Perfect Home</span> To Live With Your Family</h1>
                        <p class="animated fadeIn mb-4 pb-2">Vero elitr justo clita lorem. Ipsum dolor at sed stet
                            sit diam no. Kasd rebum ipsum et diam justo clita et kasd rebum sea elitr.</p>
                        <a href="" class="btn btn-primary py-3 px-5 me-3 animated fadeIn">Get Started</a>
                    </div>
                    <div class="col-md-6 animated fadeIn">
                        <div class="owl-carousel header-carousel">
                            <div class="owl-carousel-item">
                                <img class="img-fluid" src="../static/img/carousel-1.jpg" alt="">
                            </div>
                            <div class="owl-carousel-item">
                                <img class="img-fluid" src="../static/img/carousel-2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header End -->
        </div>

            {% include "includes/search.html" %}
            
            <!-- Property List Start -->
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="row g-0 gx-5 align-items-end">
                        <div class="col-lg-6">
                            <div class="text-start mx-auto mb-5 wow slideInLeft" data-wow-delay="0.1s">
                                <h1 class="mb-3">Flat Listing</h1>
                                <p>Eirmod sed ipsum dolor sit rebum labore magna erat. Tempor ut dolore lorem kasd vero ipsum sit eirmod sit diam justo sed rebum.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 text-start text-lg-end wow slideInRight" data-wow-delay="0.1s">
                            <ul class="nav nav-pills d-inline-flex justify-content-end mb-5">
                                <li class="nav-item me-2">
                                    <a class="btn btn-outline-primary active" data-bs-toggle="pill" href="#tab-1">Featured</a>
                                </li>
                                {% if 'user_id' in session %}
                                    <li class="nav-item me-2">
                                        <a class="btn btn-outline-primary" data-bs-toggle="pill" href="#tab-2">Favourites</a>
                                    </li>
                                {% endif %}                 
                            </ul>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane fade show p-0 active">
                            <div class="row g-4">
                                {% for listing in listings %}
                                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                                    <div class="property-item rounded overflow-hidden">
                                        <!-- Image and other listing details -->
                                        <div class="position-relative overflow-hidden">
                                            <a href="/listing-details/{{ listing[0] }}"><img class="img-fluid" src="../static/img/property-1.jpg" alt=""></a>
                                            <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">For Sale</div>
                                            <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">HDB Flat</div>
                                        </div>
    
                                        <div class="p-4 pb-0">
                                            <!-- Price -->
                                            <h5 class="text-primary mb-3">${{ listing[3] }}</h5>

                                            <!-- Address -->
                                            <a class="d-block h5 mb-2" href="">
                                                <i class="fa fa-map-marker-alt text-primary me-2"></i>
                                                {{ listing[1] }} {{ listing[2] }}
                                            </a>
                                            <!-- Flat Type -->
                                            <p>{{ listing[5] }}</p>

                                            <!-- Floor Area (SQM) -->
                                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>{{ listing[4] }} Sqft</small>
                                        </div>
                                        <div class="d-flex border-top">
                                            <!-- Floor Area (SQM) -->
                                            
                                            <!-- Add to Favorites Button -->
                                            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addToFavoritesModal{{ listing[0] }}">
                                                Add to Favorites
                                            </button>

                                            <!-- Add to Favorites Modal -->
                                            <div class="modal fade" id="addToFavoritesModal{{ listing[0] }}" tabindex="-1" aria-labelledby="addToFavoritesModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="addToFavoritesModalLabel">Add to Favorites</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            Are you sure you want to add this listing to your favorites?
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                            <!-- Add logic here for adding to favorites -->
                                                            <button type="button" class="btn btn-primary" onclick="addToFavoritesLogic('{{ listing[0] }}')" data-bs-dismiss="modal">Add</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>{{ listing[3] }} Sqft</small> -->
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            
                        </div>
                        <div id="tab-2" class="tab-pane fade show p-0">
                            <div class="row g-4">
                                {% for listing in favorites %}
                                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                                    <div class="property-item rounded overflow-hidden">
                                        <!-- Image and other listing details -->
                                        <div class="position-relative overflow-hidden">
                                            <a href="/listing-details/{{ listing[0] }}"><img class="img-fluid" src="../static/img/property-1.jpg" alt=""></a>
                                            <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">For Sale</div>
                                            <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">HDB Flat</div>
                                        </div>
    
                                        <div class="p-4 pb-0">
                                            <!-- Price -->
                                            <h5 class="text-primary mb-3">${{ listing[3] }}</h5>

                                            <!-- Address -->
                                            <a class="d-block h5 mb-2" href="">
                                                <i class="fa fa-map-marker-alt text-primary me-2"></i>
                                                {{ listing[1] }} {{ listing[2] }}
                                            </a>
                                            <!-- Flat Type -->
                                            <p>{{ listing[5] }}</p>

                                            <!-- Floor Area (SQM) -->
                                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>{{ listing[4] }} Sqft</small>
                                        </div>
                                        <div class="d-flex border-top">
                                            <!-- Floor Area (SQM) -->
                                            
                                            <!-- Add to Favorites Button -->
                                            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addToFavoritesModal{{ listing[0] }}">
                                                Add to Favorites
                                            </button>

                                            <!-- Add to Favorites Modal -->
                                            <div class="modal fade" id="addToFavoritesModal{{ listing[0] }}" tabindex="-1" aria-labelledby="addToFavoritesModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="addToFavoritesModalLabel">Add to Favorites</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            Are you sure you want to add this listing to your favorites?
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                            <!-- Add logic here for adding to favorites -->
                                                            <button type="button" class="btn btn-primary" onclick="addToFavoritesLogic('{{ listing[0] }}')" data-bs-dismiss="modal">Add</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>{{ listing[3] }} Sqft</small> -->
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Property List End -->


            <!-- Call to Action Start -->
            <!-- <div class="container-xxl py-5">
                <div class="container">
                    <div class="bg-light rounded p-3">
                        <div class="bg-white rounded p-4" style="border: 1px dashed rgba(0, 185, 142, .3)">
                            <div class="row g-5 align-items-center">
                                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                                    <img class="img-fluid rounded w-100" src="../static/img/call-to-action.jpg" alt="">
                                </div>
                                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                                    <div class="mb-4">
                                        <h1 class="mb-3">Contact With Our Certified Agent</h1>
                                        <p>Eirmod sed ipsum dolor sit rebum magna erat. Tempor lorem kasd vero ipsum sit sit diam justo sed vero dolor duo.</p>
                                    </div>
                                    <a href="" class="btn btn-primary py-3 px-4 me-2"><i class="fa fa-phone-alt me-2"></i>Make A Call</a>
                                    <a href="" class="btn btn-dark py-3 px-4"><i class="fa fa-calendar-alt me-2"></i>Get Appoinment</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- Call to Action End -->

        {% include "includes/footer.html" %}

        <script>

            function updateFavoritesTab(favorites) {
                    // Assuming favorites is an array of favorite items
                    // Update the content of the "Favorites" tab based on the data in the favorites array
                    console.log('Updating Favorites Tab with data:', favorites);

                    // Get the container where you want to display the favorites
                    const favoritesContainer = document.getElementById('favoritesContainer');

                    // Append each favorite item to the container
                    favorites.forEach(favorite => {
                        const favoriteItem = document.createElement('div');
                        favoriteItem.innerHTML = `<p>${favorite[0]} - ${favorite[1]}</p>`; // Replace column1 and column2 with your actual column names
                        favoritesContainer.appendChild(favoriteItem);
                    });
                }


            function getFavorites() {
                fetch('/favorites', {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'success') {
                        // Update the content of the "Favorites" tab
                        updateFavoritesTab(data.favorites);
                    } else {
                        console.log('Failed to fetch favorites.');
                    }
                });
            }
        
            window.addEventListener('load', function () {
                getFavorites();
            });

            function addToFavoritesLogic(listing) {
                console.log(listing);
                console.log("Checking database for listing...");
                
                fetch('/toggle_favorites/'+ listing, 
                {
                method:"POST",
                body:JSON.stringify({"listingID":listing}),
                headers:{
                    'Content-Type':'application/json',
                        }  
                }  ).then(response => response.json())
                .then(data => {
                    if (data.status === 'success') {
                        console.log('Listing has been added to favorites.');
                        showToast('Listing added to favorites');
                    } else {
                        console.log('Listing is already in favorites.');
                        showToast('Listing is already in favorites');
                    }
                });
            }

            function showToast(message) {
                // Show a toast notification or any other UI feedback
                var toast = new bootstrap.Toast(document.getElementById('successToast'));
                document.getElementById('successMessageContainer').innerText = message;
                toast.show();
            }
        </script>
    </body>
</html>